@{
    ViewData["Title"] = "Erro";
}
<img src="https://img.freepik.com/vetores-gratis/oh-nenhuma-ilustracao-de-conceito_114360-8780.jpg">
<div class="text-center">
    <h1 class="text-danger">Erro ao acessar a página</h1>
    
      
</div>