<div class="text-center">

    <img src="https://img.freepik.com/vetores-gratis/proibicao-de-compra-erro-no-site-da-loja-online-cancelamento-de-compra-incapacidade-de-colocacao-de-pedido-limite-de-compra-linha-de-orcamento-personagem-de-desenho-animado-do-comprador-online-ilustracao-em-vetor-conceito-metafora-isolado_335657-2844.jpg" />

    <div>
     <h3>Você não possui permissão para exclusão. Contate o administrador do sistema</h3>

    </div>



</div>