


<div class="text-center">
    
    <div>
        <img src="https://img.freepik.com/vetores-gratis/pilha-plana-desenhada-a-mao-de-livros_23-2149323627.jpg" />
        <div>
            <button class="btn btn-outline-primary">
                @Html.ActionLink("Gerenciar Livros", "Index", "Livro")
            </button>

            <button class="btn btn-outline-primary">
                @Html.ActionLink("Gerenciar Autores", "Index", "Autor")
            </button>

        </div>
    </div>


</div>