<div class="text-center">

    <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-conceito-nao-autorizado-de-erro-401_114360-1903.jpg" />

    <div>
        <button class="btn btn-outline-primary">
            @Html.ActionLink("Login", "Login", "Funcionario")
        </button>

        <button class="btn btn-outline-primary">
            @Html.ActionLink("Registro", "Registro", "Funcionario")
        </button>

    </div>



</div>